<form style="padding-top: 25px; padding-bottom: 15px;">
	<div class="row">
		<div class="input-field col s8">
			<textarea id="location-field" name="location" class="materialize-textarea" required='true'></textarea>
			<label for="location-field">Tell Us Where You Are:</label>
		</div>
	</div>
	<div class="row">
		<input type="submit" value="Submit" id="search-submit" class="waves-effect red darken-4 waves-light btn">
	</div>
	<div class="row">
	</div>
</form>