<div class="container" style="margin-top: 20px;">
<div class="container center">
	Welcome to 'yelp me out' - a super basic food recommendation app that uses the Yelp Fusion API.<br/>
	Fill out the form below to get some recommendations!<br/><br/>
	The only thing that is required is some location information. Everything else is optional.
</div>
</div>

<div class="container yelp-red-dotted-outline" style="margin-top: 50px;">
	<div class="white-content-area">
	<div class="container">
		<form style="padding-top: 25px; padding-bottom: 15px;">
			<!-- LOCATION -->
			<div class="row">
				<div class="input-field col s8">
					<textarea id="location-field" name="location" class="materialize-textarea" required='true'></textarea>
					<label for="location-field" id="location-field-label">Where are you at?</label>
					<input type="text" name="latitude" id="lat" style="display: none;" novalidate>
					<input type="text" name="longitude" id="long" style="display: none;" novalidate>
				</div>
				<div class="col s4 input-field">
					<input name="group1" type="radio" id="test2" class="with-gap" onclick="getLocation();" />
					<label for="test2">Use coordinates instead</label>
				</div>
			</div>


			<script>
				var x = document.getElementById("coords-display");

				function getLocation() {
				    if (navigator.geolocation) {
				        navigator.geolocation.getCurrentPosition(showPosition);
				    } else { 
				        alert("Geolocation is not supported by this browser.");
				    }
				}

				function showPosition(position) {
				    $("#lat").val(position.coords.latitude);
				    $("#lat").attr("style", "display: initial;");
				    $("#lat-label").attr("style", "display: initial;");
				    $("#lat-label").attr("class", "active");
				    $("#long").val(position.coords.longitude);
				    $("#long").attr("style", "display: initial;");
				    $("#long-label").attr("style", "display: initial;");
				    $("#long-label").attr("class", "active");
				    $("#location-field").remove();
				    $("#location-field-label").remove();
				    // .attr("required", "false");
				    // $("#location-field").attr("style", "display: none;");
				    // $("#location-field-label").attr("style", "display: none;");
				    // $("#location-field").removeAttr("name");

				}
			</script>

			<!-- PRICE -->
			<div class="row">
				<div class="input-field col s6">
				    <select multiple name="price[]">
				      <option value="" disabled selected></option>
				      <option value="1">$</option>
				      <option value="2">$$</option>
				      <option value="3">$$$</option>
				      <option value="4">$$$$</option>
				    </select>
				    <label>How expensive are we talkin'?</label>
				</div>

				<div class="input-field col s6">
				    <select multiple name="categories[]">
				      <option value="" disabled selected></option>
				      <option value="bbq">Barbeque</option>
				      <option value="breakfast_brunch">Breakfast & Brunch</option>
				      <option value="buffets">Buffet</option>
				      <option value="burgers">Burgers</option>
				      <option value="cafes">Cafes</option>
				      <option value="chicken_wings">Wings</option>
				      <option value="chinese">Chinese</option>
				      <option value="indpak">Indian</option>
				      <option value="italian">Italian</option>
				      <option value="ramen">Ramen</option>
				      <option value="korean">Korean</option>
				      <option value="seafood">Seafood</option>
				      <option value="seafood">Vegetarian</option>
				    </select>
				    <label>Whatcha looking for?</label>
				</div>
			</div>


			
			<div class="row">
				<!-- NUMBER OF OPTIONS -->
				<div class="input-field col s6">
					<input value="5" id="limit-field" name="limit" type="number" class="validate">
					<label class="active" for="limit-field">How many places do you want? (Limit.)</label>
				</div>
				<!-- SORT BY -->
				<div class="input-field col s6">
						<select name="sort_by">
							<option value="" disabled selected></option>
							<option value="rating">By Rating</option>
							<option value="review_count">By Review Count</option>
							<option value="distance">By Distance</option>
							<option value="best_match">"Nah, I trust you."</option>
						</select>
						<label>Want it sorted?</label>
				</div>
			</div>
			<div class="row center">
				<input type="submit" value="Find me food!" id="search-submit" class="waves-effect red darken-4 waves-light btn">
			</div>
			<script>$('select').material_select();</script>
		</form>
	</div>
	</div>
</div>