<div class="row"><a class="waves-effect waves-red btn-flat" style="float: left; margin-left: 100px;" onclick="goBack();"><i class="material-icons left">fast_rewind</i>Lemme try again</a>

</div>
<script>
function goBack() {
    window.history.back();
}
</script>

<div class="container center">
	<h1>Uh oh...</h1>
	<div class="yelp-red-dotted-outline">
	<div class="white-content-area">
		<div class="container center">
			yelp had trouble comprehending your request. Go back and try again. <br/>
			You can try whole addresses, or even just your city or zip.<br/><br/>

			Good luck!

		</div>
	</div>
	</div>
</div>