<div class="container center">
	<h1>About</h1>
	<div class="yelp-red-dotted-outline">
	<div class="white-content-area">
		<div class="container center">
			'yelp me out' is a project created for the Capital One Coding Challenge by Frank Liao.
			<br/><br/>
			CMU Class of 2019<br/>
			Information Systems<br/>
			fliao@andrew.cmu.edu
		</div>
	</div>
	</div>
</div>